/*--------------------------------------------------------------------------------------------------------------------
 *--
 *-- Base partial
 *--
 *--------------------------------------------------------------------------------------------------------------------*/

body {
  color: $gray;
  font-family: $ff;
  font-weight: $fw-regular;
  line-height: 1.6;
  background: $dark-blue;
  overflow-x: hidden;

  // remove scrollbar
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

h1 {
  color: $white;
  line-height: 1;
  font-size: 4rem;
  font-family: $ff-logo;
}

h2 {
  color: $dark-gray;
  line-height: 1;
  font-size: 2rem;
  font-weight: $fw-light;
}

h3 {
  color: $gray;
  line-height: 1;
  font-size: 1.5rem;
  font-weight: $fw-light;
}

a {
  color: $blue;
}
