/*--------------------------------------------------------------------------------------------------------------------
 *--
 *-- Base partial
 *--
 *--------------------------------------------------------------------------------------------------------------------*/

$padding-page: 0em;

body {
  color: $gray;
  font-family: $ff;
  font-weight: $fw-regular;
  line-height: 1.6;
  background: $very-light-blue;

  width: 100vw;
  height: 100vh;
}

h1 {
  color: $dark-gray;
  line-height: 1;
  font-size: 3.125rem;
  font-weight: $fw-bold;
}

h2 {
  color: $dark-gray;
  line-height: 1;
  font-size: 2rem;
  font-weight: $fw-light;
}

h3 {
  color: $gray;
  line-height: 1;
  font-size: 1.5rem;
  font-weight: $fw-light;
}

.page {
  display: block;
  height: 100%;
  padding: $padding-page;
  box-sizing: border-box;
}

