@import "src/scss/modules/all";

.company-card {
  filter: grayscale(100%);
  padding: 2em;
  margin: 2em;
  background: $white;
  @include boxShadow(6);
  transition: all 450ms ease;

  img {
    width: 200px;
    height: 200px;
    object-fit: contain;
  }

  &--active {
    filter: grayscale(0%);
    transform: scale(1.05);
    @include boxShadow(12);
    transition: all 450ms ease;
  }
}
