<div class="page">
  <section class="jumbotron">
    <div class="jumbotron__background">
      <div class="jumbotron__background__layer1"></div>
      <div class="jumbotron__background__layer2"></div>
      <div class="jumbotron__background__layer3"></div>
    </div>
    <h1 class="jumbotron__name">José Franco</h1>
  </section>
  <section class="profile">
    <h2 class="profile__subtitle">Software Engineer</h2>
    <img class="profile__picture" src="assets/profile_pic.jpg" alt="Jos&eacute; Franco's profile picture">
  </section>
</div>


