/*--------------------------------------------------------------------------------------------------------------------
 *--
 *-- Colour variables & definitions
 *--
 *--------------------------------------------------------------------------------------------------------------------*/

$darkest-blue: #1e2430;
$dark-blue: #313c4d;
$blue: #516480;
$light-blue: #97a2b3;
$very-light-blue: #eef0f2;

$light-gray: #D9D9D9;
$gray: #8a9898;
$dark-gray: #4c5454;

$white: #FFFFFF;
