/*--------------------------------------------------------------------------------------------------------------------
 *--
 *-- Typography variables & definitions
 *--
 *--------------------------------------------------------------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

$ff: 'Montserrat', sans-serif;

$ff-logo: 'Press Start 2P', cursive;

$fw-light: 300;
$fw-regular: 400;
$fw-bold: 700;

