@import "src/scss/modules/colours";

.center-card {
  display: flex;
  width: 100%;
  height: 100%;
  background: $white;
  box-sizing: border-box;

  &__picture {
    flex-basis: 35em;
    background: red;
  }

  &__content {
    flex: 1;
    padding: 5em;

    display: flex;
    align-items: flex-end;
  }

  &__title {
    flex: 1;
    display: inline-flex;
  }

  &__description {

  }
}
