@import "src/scss/modules/all";

.company-cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-items: center;
  margin-top: 5em;
}

.company-timeline {
  height: 900px;
  align-self: stretch;
  background: $white;
  padding: 2em;
}

