@import "../../../scss/modules/colours";
@import "../../../scss/modules/utils";

.content {
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  padding-left: 5em;

  &__item {
    flex: 1;
  }
}
